#mainContent.sliderBack
  .container
    .column1.pull-left
      .slider1Back
        .slider1
          %img.frame1{:alt => "", :src => "/assets/img/slider1-frame.png"}/
          .sliderContent
            .slider-wrapper
              #slider1Nivo.nivoSlider
                .slider1Frame
                  %img{:alt => "", :src => "/assets/img/content/slider_small_01.jpg"}/
                .slider1Frame
                  %img{:alt => "", :src => "/assets/img/content/slider_small_02.jpg"}/
                .slider1Frame
                  %img{:alt => "", :src => "/assets/img/content/slider_small_03.jpg"}/
                .slider1Frame
                  %img{:alt => "", :src => "/assets/img/content/slider_small_04.jpg"}/
        / slider1
      %h2.hdr1 Hello in heaven, in cupcakeheaven!
      %h3.hdr2
        %span.lft>
        Our precious cupcakes
        %span.rt
      .slider2
        %ul#anythingSlider2
          %li
            .setSlider2
              .third
                .mrgThird
                  %span.tx1 Pink cupcake
                  %p
                    %strong There are many
                    variations of passages of Lorem Ipsum available, but the majority.
                  %span.tx2 only 7.99 $
                  .shadd
                    %a{"data-rel" => "lightbox", :href => "/assets/img/content/dish17.jpg"}
                      %img{:alt => "", :src => "/assets/img/content/dish4.jpg"}/
              .third
                .mrgThird
                  %span.tx1 In bloom cupcake
                  %p
                    %strong There are many
                    variations of passages of Lorem Ipsum available, but the majority.
                  %span.tx2 only 5.99 $
                  .shadd
                    %a{"data-rel" => "lightbox", :href => "/assets/img/content/dish17.jpg"}
                      %img{:alt => "", :src => "/assets/img/content/dish5.jpg"}/
              .third
                .mrgThird
                  %span.tx1 Little cupcake
                  %p
                    %strong There are many
                    variations of passages of Lorem Ipsum available, but the majority.
                  %span.tx2 only 7.99 $
                  .shadd
                    %a{"data-rel" => "lightbox", :href => "/assets/img/content/dish17.jpg"}
                      %img{:alt => "", :src => "/assets/img/content/dish6.jpg"}/
              .clearfix
          %li
            .setSlider2
              .third
                .mrgThird
                  %span.tx1 Pink cupcake
                  %p
                    %strong There are many
                    variations of passages of Lorem Ipsum available, but the majority.
                  %span.tx2 only 7.99 $
                  .shadd
                    %a{"data-rel" => "lightbox", :href => "/assets/img/content/dish17.jpg"}
                      %img{:alt => "", :src => "/assets/img/content/dish4.jpg"}/
              .third
                .mrgThird
                  %span.tx1 In bloom cupcake
                  %p
                    %strong There are many
                    variations of passages of Lorem Ipsum available, but the majority.
                  %span.tx2 only 5.99 $
                  .shadd
                    %a{"data-rel" => "lightbox", :href => "/assets/img/content/dish17.jpg"}
                      %img{:alt => "", :src => "/assets/img/content/dish5.jpg"}/
              .third
                .mrgThird
                  %span.tx1 Little cupcake
                  %p
                    %strong There are many
                    variations of passages of Lorem Ipsum available, but the majority.
                  %span.tx2 only 7.99 $
                  .shadd
                    %a{"data-rel" => "lightbox", :href => "/assets/img/content/dish17.jpg"}
                      %img{:alt => "", :src => "/assets/img/content/dish6.jpg"}/
              .clearfix
        %a.link1{:href => "4_menucard1.html"} OPEN MENIUCARD
      / slider2
      .blogContent
        .blogTitle
          %h2 Everywhere i look
          %span.category posted in // food, customer
          .clearfix
          .dates
            %span.data1 17.04.12
            %span.data2 22
        %img{:alt => "", :src => "/assets/img/content/post1-photo.jpg"}/
        %p
          There are many variations of passages of Lorem Ipsum available,
          but the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
        %a{:href => "8_single.html"} read more
      %hr.divider1/
      %h3.hdr2
        %span.lft>
        You also have to try theese
        %span.rt
      .threeColumnGallery
        .third
          .mrgThird
            %span.tx1 Cupcake No.1
            %p
              %strong There are many
              variations of passages of Lorem Ipsum available, but the majority.
            %span.tx2 only 7.99 $
            %img{:alt => "", :src => "/assets/img/content/dish1.jpg"}/
        .third
          .mrgThird
            %span.tx1 Cupcake No.2
            %p
              %strong There are many
              variations of passages of Lorem Ipsum available, but the majority.
            %span.tx2 only 7.99 $
            %img{:alt => "", :src => "/assets/img/content/dish2.jpg"}/
        .third
          .mrgThird
            %span.tx1 Cupcake No.3
            %p
              %strong There are many
              variations of passages of Lorem Ipsum available, but the majority.
            %span.tx2 only 7.99 $
            %img{:alt => "", :src => "/assets/img/content/dish3.jpg"}/
        .clearfix
    .column2.pull-right
      .box9
        .top
        .mid
        .btm
      / box9
      .box1
        .top
        .mid
          %h4.curved Weekly Special
          %span.subTitle Dont Miss them!
          .mCont
            %h5
              %span 16.05.2012
              Cupcake Monday
            %p There are many variations of passages of Lorem Ipsum available, but
            %a{:href => "#"} Read More
            .clearfix
            %h5
              %span 16.05.2012
              Cupcake Monday
            %p There are many variations of passages of Lorem Ipsum available, but
            %a{:href => "#"} Read More
            .clearfix
          / mCont
        .btm
      / box1
      .topLightShad
        .box2
          %h4.curved ROSE CUPCAKE
          %p
            %strong Surfside Platter
            variations of passages of Lorem Ipsum available, but the majority have suff.
          %span.tx3 Only 7.99 $
      .lightShad
        .box3
          %span.tx1 Wedding
          %span.tx2 Cupcakes
          %p
            %strong There are many
            variations of passages of Lorem Ipsum available, but the majority have suff.
          %span.tx3 Only 7.99 $
        .box3
          %span.tx1 Choco Dream
          %span.tx2 Cupcakes
          %p
            %strong There are many
            variations of passages of Lorem Ipsum available, but the majority have suff.
          %span.tx3 Only 7.99 $
        %h4.hdr3 What people say!
        .box4
          .mCont
            This is my absolute favorite restaurant. Food is always fresh.
            Go on like that!!
          .btm
          %img{:alt => "", :src => "/assets/img/content/avatar-say1.jpg"}/
          %span.author Floyd, Cramer - Kansas
          .clearfix
          %hr.divider2/
        .box4
          .mCont
            This is my absolute favorite restaurant. Food is always fresh.
            Go on like that!!
          .btm
          %img{:alt => "", :src => "/assets/img/content/avatar-say1.jpg"}/
          %span.author Floyd, Cramer - Kansas
          .clearfix
        %br/
        %br/
        %br/
      / lightShad
    / column2
    .c2btm
      .photoSidebar
        %img{:alt => "", :src => "/assets/img/content/lobster.jpg"}/
    .clearfix
  / container

